.footer {
    // display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 170, 170);
    height: 40px;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
  }
  .title{
    color: white;
    text-align: center;
    font-size: 16px;
  }
  .creator{
    color: white;
    text-align: center;
    font-size: 12px;
  }
  
  